* {
  margin: 0;
  padding: 0;
}


.container {
  margin: 0 19.5%;
  width: 61%;
}


.header {
  background: rgba(16, 16, 29, 0.9);
  height: 100px;
  position: sticky;
  display: flex;
  align-items: center;

  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    color: #FFF;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    color: #FFF;
    text-align: right;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    li {
      margin-right: 60px;
      list-style-type: none;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

ul {
  display: flex;
}


.nav__item_current {
  color: #42A9ED;
}

.blue__font {
  color: #42A9ED;
}

.main__page {
  background: url("../img/background.webp");
  background-size: cover;

  &__article {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 103px 0 80px;
  }

  &__list {
    padding-bottom: 80px;


  }
}

.light__blue__font {
  color: #3E9CDC;
}


.main__page__list {
  padding-bottom: 80px;

  p {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;
  }

  ul {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;

    li {
      color: #000;
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      list-style-type: none;
      padding: 5px 0 5px;
    }

    li:before {
      content: "—";
      position: relative;
      left: -10px;
    }
  }
}

.main__page__order__btn {
  display: flex;
  width: 183px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #FFF;
  background: #3E9CDC;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 30px;
}

.main__page__order__btn:hover {
  opacity: 80%;
}

.main__page__order__more {
  display: flex;
  width: 183px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #6F6D7B;
  background: #FFF;
  color: #2A2B30;
  text-transform: uppercase;
  cursor: pointer;
}

.main__page__order__more:hover {
  opacity: 80%;
  background: yellow;
}

.main__page__btns {
  display: flex;
  padding-bottom: 200px;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  line-height: 22px;
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.2s;
  border-radius: 3px;
  border: 2px solid #3E9CDC;
  background: #FFF;
  color: #272733;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  max-width: 370px;
  width: 20vw;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
  background-color: #59be6e;
}
.input-file:active span {
  background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.arrange__page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/Слой-1.webp"), #272733 50% / cover no-repeat;

  &__title {
    color: #FFF;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
  }

  &__text {
    color: #BBB;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 30px 0;
  }
}

.arrange__page__balls {
  display: flex;
  justify-content: space-between;
}

.ellipsis {
  background: url("../img/ellipsis.webp");
  width: 100%;
  height: 6px;
  background-size: contain;
  position: absolute;
  top: 47px;
  left: 166.5px;
  max-width: 110px;


}

.arrange__page__form {
  padding-top: 80px;


  select {
    color: #272733;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 48px;
    padding: 10px;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.85);
  }
}

.arrange__page__form__inputs {
  display: flex;
  justify-content: space-between;

  label {
    width: 31.6%;

    select {
      width: 100%;
      max-width: 370px;
      box-sizing: border-box;
    }
  }

  input {
    max-width: 370px;
    width: 31.6%;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
    color: #272733;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}

.arrange__page__form__attach {

  display: flex;
  align-items: end;
  justify-content: space-between;

  div {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__range {
    margin-top: 16px;
    fill: rgba(255, 255, 255, 0.7);
    stroke-width: 1px;
    stroke: #FFF;
    width: 40vw;
  }

  &__file {
    padding-left: 30px;
  }
}

.arrange__page__send__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 150px;

  button {
    display: flex;
    width: 370px;
    height: 48px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: #3E9CDC;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover {
    opacity: 80%;
  }
}

.arrange__page__ball__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:nth-last-child(1) .ellipsis {
    display: none;
  }

  .ball__text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
  }

  .ball__search {
    background: url("../img/search.png");
    height: 100px;
    width: 100px;
    background-size: cover;
  }

  .ball__percent {
    background: url("../img/percent.png");
    height: 100px;
    width: 100px;
    background-size: cover;
  }

  .ball__add {
    background: url("../img/add.png");
    height: 100px;
    width: 100px;
    background-size: cover;
  }

  .ball__mail {
    background: url("../img/mail.png");
    height: 100px;
    width: 100px;
    background-size: cover;
  }

  .ball__yandex__money {
    background: url("../img/yandex-money.png");
    height: 100px;
    width: 100px;
    background-size: cover;
  }
}









footer {
  background: #3D4050;
  height: 80px;
  display: flex;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      color: #FFF;
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .footer__link {
      display: flex;

      a {
        text-decoration-line: none;
      }

      .white__font {
        color: #FFF;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      img {
        width: 20px;
        height: 20px;
        //padding-right: 10px;
        //padding-left: 38px;
        padding: 0 10px 0 38px;
      }

      &__gray__text {
        color: #C3C3C3;
      }
    }

    .vector {
      background: url("../img/vector.webp");
      width: 1px;
      height: 18px;
      flex-shrink: 0;
      fill: #C3C3C3;
    }
  }
}



@media screen and (max-width: 1440px) {
  .ellipsis {
    display: none;
  }
}




@media screen and (max-width: 1080px) {

  .main__page {
    background-position-x: center;
  }

  .header ul li {
    margin-right: 10px;
  }

  .main__page__article {
    font-size: 28px;
  }

  .arrange__page__title {
    font-size: 28px;
  }

  .arrange__page__ball__item .ball__text {
    font-size: 13px;
  }

  .arrange__page__ball__item .ball__search {
    width: 70px;
    height: 70px;
  }

  .arrange__page__ball__item .ball__percent {
    width: 70px;
    height: 70px;
  }

  .arrange__page__ball__item .ball__add {
    width: 70px;
    height: 70px;
  }

  .arrange__page__ball__item .ball__mail {
    width: 70px;
    height: 70px;
  }

  .arrange__page__ball__item .ball__yandex__money {
    width: 70px;
    height: 70px;
  }

  .arrange__page__form select {
    font-size: 14px;
  }

  .arrange__page__form__inputs input {
    height: 48px;
  }

  footer .footer__container .footer__link {
    align-items: center;

    img {
      padding: 0 10px;
    }
  }

  footer .footer__container div {
    font-size: 7px;
  }

  .header ul {
    font-size: 7px;
  }

}



@media screen and (max-width: 768px) {
  .arrange__page__ball__item .ball__text {
    font-size: 7px;
  }

  .arrange__page__form select {
    font-size: 10px;
  }

  .arrange__page__form__inputs input {
    font-size: 10px;
  }
}

.arrange__page__form__attach div {
  font-size: 10px;
}

.arrange__page__send__btn button {
  width: 160px;
  font-size: 15px;
}

//.main__page__list p {
//  font-size: 12px;
//}

@media screen and (max-width: 425px) {

  .header {
    justify-content: center;
  }

  footer {
    justify-content: center;
  }

  .arrange__page__balls {
    flex-wrap: wrap;
  }

  .input-file span {
    font-size: 7px;
  }

  .arrange__page__form__inputs {
    flex-direction: column;
  }

  .arrange__page__form__inputs input {
    margin-bottom: 0;
  }

  .arrange__page__form__inputs label {
    width: 100%;
    padding-bottom: 10px;
  }

  .arrange__page__form__inputs input {
    width: 100%;
    margin-bottom: 10px;
  }

  .container {
    margin: 0 10%;
  }

  footer .footer__container .footer__link .white__font {
    font-size: 7px;
  }

  .arrange__page__ball__item {
    width: 75px;
  }
  .main__page__btns {
    padding-bottom: 40px;
  }

  .main__page__article {
    padding: 40px 0;
    font-size: 20px;
  }

  .main__page__list p {
    font-size: 14px;
  }

  .main__page__list ul li {
    font-size: 11px;
  }

  .main__page__list {
    padding-bottom: 40px;
  }


  .header__logo {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .header__layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .footer__container {
    flex-wrap: wrap;
  }

  .arrange__page__ball__item .ball__search {
    width: 50px;
    height: 50px;
  }

  .arrange__page__ball__item .ball__percent {
    width: 50px;
    height: 50px;
  }

  .arrange__page__ball__item .ball__add {
    width: 50px;
    height: 50px;
  }

  .arrange__page__ball__item .ball__yandex__money {
    width: 50px;
    height: 50px;
  }

  .arrange__page__ball__item .ball__mail {
    width: 50px;
    height: 50px;
  }

  .ball__text {
    padding-bottom: 10px;
  }

  .arrange__page__send__btn {
    padding-bottom: 100px;
  }

  .footer__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vector {
    display: none;
  }

  footer .footer__container .footer__link img {
    height: 10px;
    width: 10px;
  }


}



@media screen and (max-width: 320px) {
  .input-file span {
    display: flex;
    padding: 0;
    text-align: center;
  }
}
